<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.BoardMapper">
    
    <!-- 게시글의 전체정보 가져오는 sql문  -->
    <select id="adoptBoardList" resultType="com.smhrd.domain.AdoptBoard">
        select * from t_adoption
    </select>
    
    <select id="commBoardList" resultType="com.smhrd.domain.CommBoard">
        select * from t_community
    </select>
    
    <select id="sponBoardList" resultType="com.smhrd.domain.SponBoard">
        select * from t_sponsorship
    </select>
    
    <!-- 상호명과 도로명주소를 조회하고 조건절에 검색어를 조회할 수 있는 sql문 -->
    <select id="careList" parameterType="com.smhrd.domain.CareBoard" resultType="com.smhrd.domain.CareBoard">
		select care_latitude,care_longitude  from t_carezone 
		where  	   
        <if list="searchWrd != null and searchWrd !=''">
   		(care_latitude LIKE CONCAT('%', #{searchWrd},'%') or  
    	 care_longitude LIKE CONCAT('%', #{searchWrd},'%'))
		</if>
	</select>
    
    
    
</mapper>

