<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.BoardMapper">
    
    <!-- 게시글의 전체정보 가져오는 sql문  -->
    <select id="adoptBoardList" resultType="com.smhrd.domain.AdoptBoard">
        select * from t_adoption
    </select>
    
    <select id="commBoardList" resultType="com.smhrd.domain.CommBoard">
        select * from t_community
    </select>
    
    <select id="sponBoardList" resultType="com.smhrd.domain.SponBoard">
        select * from t_sponsorship
    </select>

    
    <!-- 게시글의 상세정보 가져오는 sql문 -->
    <select id="adoptBoardInfo" resultType="com.smhrd.domain.AdoptBoard">
        select * from t_adoption
        where adt_seq=#{adt_seq};
    </select>
    
    <select id="commBoardInfo" resultType="com.smhrd.domain.CommBoard">
        select * from t_community
        where article_seq=#{article_seq};
    </select>
    
    <select id="sponBoardInfo" resultType="com.smhrd.domain.SponBoard">
        select * from t_sponsorship
        where spon_seq=#{spon_seq};
    </select>    
      
    
    <!-- 댓글의 전체정보 가져오는 sql문 -->
    <select id="adoptCommentList" resultType="com.smhrd.domain.AdoptComment">
        select * from t_adoption_cmt
        where adt_seq = #{adt_seq};
    </select>
    
    <select id="commCommentList" resultType="com.smhrd.domain.CommComment">
        select * from t_community_cmt
        where article_seq = #{article_seq};
    </select>
    
    <select id="sponCommentList" resultType="com.smhrd.domain.SponComment">
        select * from t_sponsorship_cmt
        where spon_seq = #{spon_seq};
    </select>

    
    <!-- 작성한 댓글을 db에 추가하는 sql문  -->
    <insert id="adoptCommentInsert" parameterType="com.smhrd.domain.AdoptComment">
        insert into t_adoption_cmt(cmt_id, cmt_content, adt_seq)
        values(#{cmt_id}, #{cmt_content}, #{adt_seq})
    </insert>
    
    <insert id="commCommentInsert" parameterType="com.smhrd.domain.CommComment">
        insert into t_community_cmt(cmt_id, cmt_content, article_seq)
        values(#{cmt_id}, #{cmt_content}, #{article_seq})
    </insert>
    
    <insert id="sponCommentInsert" parameterType="com.smhrd.domain.SponComment">
        insert into t_sponsorship_cmt(cmt_id, cmt_content, spon_seq)
        values(#{cmt_id}, #{cmt_content}, #{spon_seq})
    </insert>
    
    
    <!-- 게시글 db에 추가하는 sql문 -->
    <insert id="adoptBoardInsert" parameterType="com.smhrd.domain.AdoptBoard">
        insert into t_adoption(adt_id, adt_title, adt_content)
        values(#{adt_id}, #{adt_title}, #{adt_content})
    </insert>
    
    <insert id="commBoardInsert" parameterType="com.smhrd.domain.CommBoard">
        insert into t_community(article_id, article_title, article_content)
        values(#{article_id}, #{article_title}, #{article_content})
    </insert>
    
    <insert id="sponBoardInsert" parameterType="com.smhrd.domain.SponBoard">
        insert into t_sponsorship(spon_id, spon_title, spon_content)
        values(#{spon_id}, #{spon_title}, #{spon_content})
    </insert>
    
    <!-- 수정한 게시글 db에 업데이트하는 sql문 -->
	<update id="adoptBoardUpdate" parameterType="com.smhrd.domain.AdoptBoard">
        update t_adoption set adt_id=#{adt_id}, adt_title=#{adt_title}, adt_content=#{adt_content}
        where adt_seq = #{adt_seq}
    </update>
    
	<update id="sponBoardUpdate" parameterType="com.smhrd.domain.SponBoard">
        update t_sponsorship set spon_id=#{spon_id}, spon_title=#{spon_title}, spon_content=#{spon_content}
        where spon_seq = #{spon_seq}
    </update>
    
	<update id="commBoardUpdate" parameterType="com.smhrd.domain.CommBoard">
        update t_community set article_id=#{article_id}, article_title=#{article_title}, article_content=#{article_content}
        where article_seq = #{article_seq}
    </update>
    
	<!-- 조회수 업데이트하는 sql문 -->
	<update id= "adoptCntUpdate" parameterType="com.smhrd.domain.AdoptBoard" >
	    update t_adoption set adt_cnt = adt_cnt+1
	    where adt_seq = #{adt_seq}
	</update>
	<update id= "commCntUpdate" parameterType="com.smhrd.domain.CommBoard" >
	    update t_community set article_cnt = article_cnt+1
	    where article_seq = #{article_seq}
	</update>
	<update id= "sponCntUpdate" parameterType="com.smhrd.domain.SponBoard" >
	    update t_sponsorship set spon_cnt = spon_cnt+1
	    where spon_seq = #{spon_seq}
	</update>
	
	<!-- 게시글 검색 sql문 -->
	<select id="adoptBoardSearch" resultType="com.smhrd.domain.AdoptBoard">
        select * from t_adoption
		where #{field} like #{query}
          
    </select>
    
</mapper>

